<hr class="lines">
<hr class="lines">

<h3 id="privacy_header">Ride 4 Less Privacy Statement:</h3>
<ul>
<li class="privacy">Ride for less never stores any user data</li>
<li class="privacy">User data is only availble during current user session which is defined by when a user logs in and logs out</li>  
<li class="privacy">Data is used only for the purpose of providing detailed personalized ride analytics and is never shared with other parties.</li>
</ul>

