<div id = "surge_map"></div>

<script src="http://maps.google.com/maps/api/js?sensor=false">
</script>
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>

<script type="text/javascript">

  var map;
  var startLat = <%= @start_lat %>;
  var startLng = <%= @start_lng %>;
  var surgeArray = <%= @surge_hash %>;

  var map = new google.maps.Map(
    document.getElementById("surge_map"), {
        center: new google.maps.LatLng(startLat, startLng),
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

  for(var i=0; i < surgeArray.length; i++) {
    var marker = new MarkerWithLabel({
      position: new google.maps.LatLng(surgeArray[i][0][0], surgeArray[i][0][1]),
      labelContent: surgeArray[i][1],
      labelAnchor: new google.maps.Point(22, 0),
      labelClass: "labels",
      labelStyle: {
        opacity: 0.75
      },
      zIndex: 999999,
      map: map
    })
  }

  var pinColor = "008000";
  var pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pinColor,
      new google.maps.Size(21, 34),
      new google.maps.Point(0,0),
      new google.maps.Point(10, 34));
  var pinShadow = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_shadow",
      new google.maps.Size(40, 37),
      new google.maps.Point(0, 0),
      new google.maps.Point(12, 35));

  var marker = new google.maps.Marker({
      position: new google.maps.LatLng(startLat, startLng), 
      map: map,
      icon: pinImage,
      shadow: pinShadow
  });

</script>