<div ng-app="app">
    <div ng-controller="newYearsRideDataController" ng-init="surgeVsTime('all')">
        <div class="surge_vs_time_buttons">
            <button class="toggle_chart_buttons" ng-click="surgeVsTime('all')">All Data</button>
            <button class="toggle_chart_buttons" ng-click="surgeVsTime('Nob Hill')">Nob Hill</button>  
            <button class="toggle_chart_buttons" ng-click="surgeVsTime('Marina')">Marina</button>
            <button class="toggle_chart_buttons" ng-click="surgeVsTime('Mission')">Mission</button>
            <button class="toggle_chart_buttons" ng-click="surgeVsTime('Soma')">Soma</button>
            <button class="toggle_chart_buttons" ng-click="surgeVsTime('Haight')">Haight-Ashbury</button>
            <button class="toggle_chart_buttons" ng-click="surgeVsTime('Richmond')">Richmond</button>
        </div>

        <div id="new_years_data_graph" class="high_chart"></div>

    </div>
</div>



