$(document).ready(function() { 
 
  $(document).ajaxStart($('#new_years_data_graph').block({ 
      message: '<h1>Loading...</h1>', 
      css: { border: '3px solid #a00'} 
      })
  ).ajaxStop($.unblockUI);

  $(document).ajaxStart($('#uber_time_trends').block({ 
      message: '<h1>Gathering Uber Data...</h1>', 
      css: { border: '3px solid #a00'} 
      })
  ).ajaxStop($.unblockUI);

  $(document).ajaxStart($('#cities_map').block({ 
      message: '<h1>Gathering Uber Data...</h1>', 
      css: { border: '3px solid #a00'} 
      })
  ).ajaxStop($.unblockUI);

  $(document).ajaxStart($('#profile_data').block({ 
      message: '<h1>Gathering Data From Uber...</h1>', 
      css: { border: '3px solid #a00'} 
      })
  ).ajaxStop($.unblockUI);

  $('.toggle_chart_buttons').click(function() { 
    $('#new_years_data_graph').block({ message: '<h1>Loading</h1' }); 
  });




}); 
