html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Courgette', cursive;
  background-image: url(grunge_wall_@2X.png);
  background-repeat: repeat;
  background-size:cover;
  margin-bottom: 60px;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: auto;
}

// .footer, .push {
//     height: 100px; 
// }

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 40px;
}

.flash {
  text-align: center;
}

.panel-heading {
  background: black !important;
  border: none !important;
}

.panel-heading a {
  color: grey;
}

.panel-heading h4 {
  font-size: 20px;
}

.panel, .panel-group .panel-heading+.panel-collapse>.panel-body{
    border: none;
}

#toolbar_image {
  margin-top: 13px;
  margin-left: 12px;
  width:32px;
  height: 32px;
}

.top_profile_link {
  padding-top: 10px;
}

.bottom_profile_link {
  margin-bottom: -3px;
}


.profile_links {
  font-size: 14px;
  margin-left: -2px;
}

#profile_link_styling {
  background: white;
}

.geral {
    min-height:100%;
    position:relative;
    width:800px;
}

#footer {
    padding-top: 15px;
    position:relative;
    bottom:0;
    width:25%;
    margin-left: auto;
    margin-right: auto;
}


