html, body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Courgette', cursive;
  background-image: url(grunge_wall_@2X.png);
  background-repeat: repeat;
  background-size:cover;
  margin-bottom: 60px;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  width: auto;
}

// .footer, .push {
//     height: 100px; 
// }

#footer {
  text-align: center;
  // padding-top: 80px;
  width: auto;
  margin: auto;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 40px;
}

.flash {
  text-align: center;
}





