html, 
body {
  height: 100%;
}


body {
  font-family: helvetica;
  background-image: url(grunge_wall_@2X.png);
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom: 60px;
}


#footer {
  margin-top: 30px;
  bottom: -30px;
  height: 60px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
