// Place all the styles related to the new_years_data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.high_chart {
  width:80%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.surge_vs_time_buttons {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
}

.toggle_chart_buttons {
  width: 128px;
  border: solid black 1px;
}

.chart_instructions {
  margin-left: 10%;
}

.new_years_data_collection {
  width: 80%;
  margin-left: 10%;
  font-size: 20px;
  margin-top: 15px;
}

#data_collection_map {
  margin-left: 10%;
  width:80%; 
  height:450px;
  border: solid 3px black;
}

h2 {
  text-align: center;
  text-decoration: underline;
}