// Place all the styles related to the ride_details controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.links {
  margin-top: 210px;
}

#uber-login {
  margin-left: 20px;
  margin-top: 55px;
  color: grey;
}

.credentials {
  margin-top: -12px;
  color: grey;
}

.submit {
  background: grey;
  color: black;
  width: 61px;
  height: 28px;
  box-shadow: none;
}

.ride_info{
  text-align: center;
  margin-top: 40px;
  color: black;
}

#request-info {
  background: black;
  font-size: 20px;
  color: grey;
  width: 200px;
  height: 45px;
  box-shadow: none;
}

.address_details {
  width:450px;
  height: 40px;
  margin-bottom: 15px;
  font-size: 20px;
  font-family: helvetica;

}

#menu-toggle {
  position: fixed;
  margin-top: 15px;
}

#uber_map {
  margin-left: 10%;
  width:400px; 
  height:450px;
  border: solid 3px black;
}

#uber_map_title {
  padding-top: 20px;
  margin-left: 10%;
  color: black;
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
}

#transit_map_title {
  margin-top: 20px;
  margin-left: 15%;
  color: black;
  font-weight: bold;
  font-size: 40px;
  text-decoration: underline;
}

.uber_info {
  float: left;
  margin-left: 100px;
}

#bus_map {
  margin-left: 16% ;
  width:400px; 
  height:450px;
  border: solid 3px black;
}


.uber_ride_details {
  margin-left: 5%;
  font-size: 18px;
  margin-bottom: 20px;
}

.bus_ride_details {
  margin-left: 11%;
  font-size: 18px;
  margin-bottom: 20px;
}

.list_spacing {
  margin-top: 10px;
}

.wrapper {
  float: left;
  width: 40%;
  margin: 0 auto;
  margin-left: 100px;
}

.uber_link {
  font-size: 20px;
}

.link_titles {
  font-size: 30px;
}

#surge_map {
  width:700px; 
  height:750px;
}

.labels {
  color: black;
  font-weight: bold;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 40px;     
  border: 2px solid black;
  white-space: nowrap;
}

.my_pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-radius: 30px;
  height: 150px;
}

.contact_info {
  text-align: center;
}

.lines {
  border-color: black;
}

.top {
  margin-top: 50px;
}

.description {
  margin-right: 50px;
  font-size: 24px;
}

.feedback {
  margin-top: 30px;
  font-size: 24px;
}

.comment_section {
  width: 335px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.submit_comment{
  width: 200px;
  height: 40px;
  margin-top: 15px;
  font-size: 20px;
  margin-left: 387px;
}

#comment_section {
  text-align: center;
  display: inline;
}

.pic_and_contact {
  display: inline;
  float: left;
  margin-left: 170px;
}

.comment_label {
  margin-left: -262px;
  font-size: 16px;
}

.contact_comment_label {
  margin-left: -240px;
  font-size: 16px;
}
.contact_comment_section {
  width: 335px;
}

#privacy_header {
  width: 80%;
  margin-left: 10%;
  text-decoration: underline;
}

.privacy {
  font-size: 26px;
  margin-left: 10%;
  width: 80%
}

.high_chart {
  width:80%;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.surge_vs_time_buttons {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 30px;
}

.toggle_chart_buttons {
  width: 125px;
  border: solid black 1px;
}





