// Place all the styles related to the uber_histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all_rides{
  width: 70%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
}

.all_rides_headers {
  text-align: center;
}

#user_profile {
  text-align: center;
}

#user_ride_info {
  margin-left: 20px;
}

#personal_details {
  float: left;

}

h1 {
  text-decoration: underline;
  text-align: center;
}

img {
  margin-bottom: 20px;
}

.user_info {
  font-size: 20px;
}

.last_info {
  margin-bottom: 40px;
}

#cities_map {
  margin: 0 auto;
  width:60%; 
  height:750px;
  margin-top: 35px;
  border: solid 3px black;
}

#uber_cities_header{
  margin-left: 20%;
}

.uber_cities {
  font-size: 20px;
  margin-left: 23%;
}

.table-striped td, .table-striped th {
    border: none;
}

table.table-striped {
    border: 3px solid black;
}


  

